:root {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

body {
    height: 100vh;
    box-sizing: border-box;
}

.grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.flexed {
    display: flex;
}

.flexed-column {
    display: flex;
    flex-direction: column;
}

.centered {
    align-items: center;
    justify-content: center;
}

.grid-2 {
    grid-column: span 2;
}

.grid-4 {
    grid-column: span 4;
}

input, select, button {
    margin: 8px 0;
}

input {
    padding: 12px;
}

select {
    padding: 8px;
    width: auto;
    max-width: 10vw;
}

button {
    padding: 8px;
    width: 200px;
    max-width: 10vw;
}